[Unit]
Description=Count the number of ants in view

[Service]
Type=oneshot
WorkingDirectory=/app
EnvironmentFile=-/etc/antcam/mqtt.env
EnvironmentFile=-/etc/antcam/ntfy.env
ExecStart=/app/antcam
